body{

    background-color: #d6d7d0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{

    color:#2B4E72 ;
    background-color: #ffff;
    
}

h2{

    color: #2790B0;
    background-color: #ffff;
     
}


nav#menu{
    background-color: #fffefc;
}