main {

    background-color: #f1f1f0;
    padding: 3%;
    margin: 0 10px; 
}

article {
    background-color: #2B4E72; 
    padding: 3%;
    margin: 0;
    border-radius: 5px; 
}

figure, article p {
    background-color: #f1f1f0; 
    padding: 5px;
    margin: 10px 0;
}
figure img {

    width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}