
.container {
    max-width: 70%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 50%;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

thead{

    background-color: #3498db;
    color: #ffff;
    text-align: left;

}

td{
    padding: 5px;
    box-shadow: #d0cece 0px 0.5px;
}


.user-table{
    
    width: 100%;
    background-color: #f3f3f3;
    border-collapse: collapse;
    

}

.btn-edit{
    background-color: rgb(128, 232, 128);
}

.btn-delete{
    background-color: rgb(240, 76, 76);
}

.btn-delete, .btn-edit{

    margin: 3px;
    padding: 3px;
    box-shadow: rgba(43, 41, 41, 0.333) 1px 1px;
    width: 50%;
    border: #d0cece;
    border-radius: 5px ;
}

.btn-delete:hover, .btn-edit:hover{
   box-shadow: #272525 1px 1px ;
}

@media (max-width: 768px) {
 
    .container {
        flex-direction: column; 
        width: 90%;
        height: auto; 
        max-width: 100%;
    }

    body{font-size: small;}

    .btn-edit, .btn-delete{
        width: 80%;
    
    }

}